/*

CSS Reset
Adapted from: https://piccalil.li/blog/a-more-modern-css-reset/

*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ol,
ul,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:where(:not([class])) {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
}

a:where(:not([class])):hover,
a:where(:not([class])):focus-visible {
  color: #D96666;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------- Containers ---------- */

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--text {
  width: min(45em, 100%);
}

/*
====================================================
============ REQUIRED STYLES FROM PROF =============
============   DO NOT DELETE - START   =============
====================================================
*/

.container-query {
  padding: 3rem 0;
}

.container-query__list {
  --cols: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1.5rem;
}

@media only screen and (min-width: 45em) {
  .container-query__list {
    --cols: 2;
  }
}

@media only screen and (min-width: 52em) {
  .container-query__list {
    grid-template-columns: 2fr 1fr;
  }

  .container-query__list .col:nth-child(2) {
    grid-row: span 2;
  }
}

@media only screen and (min-width: 60em) {
  .container-query__list {
    --cols: 3;
    grid-template-columns: repeat(var(--cols), 1fr);
  }

  .container-query__list .col:nth-child(2) {
    grid-row: unset;
  }
}

@media only screen and (min-width: 70em) {
  .container-query__list .col:nth-child(2) {
    grid-column: span 2;
    grid-row: unset;
  }

  .container-query__list .col:nth-child(3) {
    grid-column: span 3;
  }
}

/*
====================================================
============ REQUIRED STYLES FROM PROF =============
============     DO NOT DELETE - END   =============
====================================================
*/

/*
====================================================
=============== PUT YOUR CSS BELOW =================
====================================================
*/

